@import url("../css/zero_style.css");
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 10px 0;
}

.header__row {
  height: 50px;
  width: 100%;
  padding: 5px;
  border-bottom: 1px rgba(128, 128, 128, 0.54) solid;
}
.header .row__container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
}
.header .row__item {
  display: flex;
  align-items: center;
  gap: 2px;
}
.header .row__item:not(:last-child) {
  margin-right: 10px;
}
.header .row__item_main {
  flex: 1 1 auto;
}
.header .row__icon {
  height: 100%;
}
.header .row__title {
  color: red;
  font-weight: 700;
}
.header .row__text .js-row__counter {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
}

.page {
  flex: 1 1 auto;
}

.page {
  background: #4c1616;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__autoriz {
  display: flex;
  align-items: center;
}
.page__form {
  width: 350px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: gray;
}

.form > * {
  margin-bottom: 20px;
}
.form > *:last-child {
  margin-bottom: 50px;
}
.form__title {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.form__inputs {
  width: 90%;
}
.form__input {
  width: 100%;
  border: 3px black solid;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  margin-bottom: 15px;
}
.form__butt {
  width: 80%;
  padding: 10px;
  border: 3px #fff solid;
  border-radius: 5px;
  box-shadow: #fff 2px 2px;
  margin: 25px 0;
  background: #2166ac;
  font-size: 20px;
  color: #fff;
}

.form__link {
  color: rgba(0, 0, 255, 0.473);
  font-size: 0.7em;
  text-decoration: underline;
  align-self: end;
}