@import url("../css/zero_style.css");
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 10px 0;
}

.header__row {
  height: 50px;
  width: 100%;
  padding: 5px;
  border-bottom: 1px rgba(128, 128, 128, 0.54) solid;
}
.header .row__container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
}
.header .row__item {
  display: flex;
  align-items: center;
  gap: 2px;
}
.header .row__item:not(:last-child) {
  margin-right: 10px;
}
.header .row__item_main {
  flex: 1 1 auto;
}
.header .row__icon {
  height: 100%;
}
.header .row__title {
  color: red;
  font-weight: 700;
}
.header .row__text .js-row__counter {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
}

.page {
  min-height: 100%;
  flex: 1 1 auto;
}

.page {
  background: rgba(211, 211, 211, 0.462);
}
.page__container {
  padding: 25px;
  display: flex;
  gap: 20px;
}
.page__option {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}
.page__title {
  font-size: 1.2em;
  font-weight: 700;
}
.page__counter {
  opacity: 0.8;
  font-size: 0.9em;
  align-self: end;
}
.page__list {
  width: 70%;
}
.page__list > *:not(:last-child) {
  margin-bottom: 10px;
}
.page__product {
  padding: 20px 10px;
  background: #fff;
  border-radius: 10px;
  display: flex;
}
.page__product > * {
  padding: 10px;
}
.page__product > *:not(:last-child) {
  margin-right: 10px;
}
.page .product__check {
  flex-basis: 15px;
  width: 20px;
}
.page .product__img {
  width: 20%;
}
.page .product__img img {
  width: 100%;
  height: 100%;
}
.page .product__title {
  width: 40%;
  padding: 10px 10px 0;
  color: limegreen;
  font-weight: 500;
}
.page .product__counter {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page .product__price {
  width: 130px;
  align-self: center;
}
.page .counter__edit {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.page .counter__edit > * {
  width: 1.1em;
  height: 1.1em;
  text-align: center;
}
.page .counter__butt {
  border-radius: 4px;
  font-size: 1.1em;
}
.page .counter__butt_plus {
  background: #fff;
  border: 1px gray solid;
}
.page .counter__delete a {
  color: blue;
  border-bottom: 2px blue solid;
}
.page__order {
  flex: 1 1 auto;
  align-self: start;
  padding: 20px 25px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.page .order__text {
  flex: 0 1 70%;
}
.page .order__text_underline {
  text-decoration: underline;
}
.page .order__counter {
  display: flex;
}
.page .order__number {
  text-align: left;
}
.page .order__butt {
  margin-top: 40px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  background: rgb(81, 81, 255);
}