.page {
  background: #4c1616;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__autoriz {
  display: flex;
  align-items: center;
}
.page__form {
  width: 350px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: gray;
}

.form > * {
  margin-bottom: 20px;
}
.form > *:last-child {
  margin-bottom: 50px;
}
.form__title {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.form__inputs {
  width: 90%;
}
.form__input {
  width: 100%;
  border: 3px black solid;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  margin-bottom: 15px;
}
.form__butt {
  width: 80%;
  padding: 10px;
  border: 3px #fff solid;
  border-radius: 5px;
  box-shadow: #fff 2px 2px;
  margin: 25px 0;
  background: #2166ac;
  font-size: 20px;
  color: #fff;
}