@import url("../css/zero_style.css");
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 10px 0;
}

.header__row {
  height: 50px;
  width: 100%;
  padding: 5px;
  border-bottom: 1px rgba(128, 128, 128, 0.54) solid;
}
.header .row__container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
}
.header .row__item {
  display: flex;
  align-items: center;
  gap: 2px;
}
.header .row__item:not(:last-child) {
  margin-right: 10px;
}
.header .row__item_main {
  flex: 1 1 auto;
}
.header .row__icon {
  height: 100%;
}
.header .row__title {
  color: red;
  font-weight: 700;
}
.header .row__text .js-row__counter {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
}

.page {
  min-height: 100%;
  flex: 1 1 auto;
}