@import url("../css/zero_style.css");
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 10px 0;
  overflow: hidden;
}

.header__row {
  height: 50px;
  width: 100%;
  padding: 5px;
  border-bottom: 1px rgba(128, 128, 128, 0.54) solid;
}
.header .row__container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
}
.header .row__item {
  display: flex;
  align-items: center;
  gap: 2px;
}
.header .row__item:not(:last-child) {
  margin-right: 10px;
}
.header .row__item_main {
  flex: 1 1 auto;
}
.header .row__icon {
  height: 100%;
}
.header .row__title {
  color: red;
  font-weight: 700;
}
.header .row__text .js-row__counter {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
}

.page {
  flex: 1 1 auto;
}

.page__category {
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px rgba(128, 128, 128, 0.54) solid;
  margin-bottom: 50px;
}
.page__route {
  opacity: 0.8;
}
.page__option {
  display: flex;
  gap: 40px;
}
.page__title {
  font-weight: 700;
  font-size: 1.5em;
}
.page__counter {
  font-size: 1.5em;
  opacity: 0.8;
}
.page__filter {
  align-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
  letter-spacing: -0.1px;
  font-weight: 600;
}
.page__icon {
  width: 15px;
}
.page__list > *:not(:last-child) {
  margin-bottom: 50px;
}
.page__product {
  display: flex;
  gap: 25px;
  padding: 5px 5px 25px;
  border-bottom: 1px rgba(128, 128, 128, 0.54) solid;
}
.page .product__img {
  width: 15%;
}
.page .product__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page .product__title {
  color: limegreen;
  font-size: 1.2em;
}
.page .product__description {
  font-size: 0.8em;
  opacity: 0.6;
  word-spacing: 3px;
  letter-spacing: 0.8;
  line-height: 12px;
}
.page .product__status {
  width: 15%;
  text-align: center;
  font-weight: 500;
}
.page .product__status_many {
  color: limegreen;
}
.page .product__status_few {
  color: orange;
}
.page .product__status_null {
  color: red;
}
.page .product__order {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-weight: 500;
}
.page .product__price {
  margin-bottom: 20px;
  letter-spacing: -0.1px;
}
.page .product__butt {
  width: 60%;
  height: 28px;
  border-radius: 5px;
  color: #fff;
  background: rgb(81, 81, 255);
}
.page .product__butt_disabled {
  background: gray;
}