@import './generalBlocks.scss';
@import './form.scss';
.page {
    &__autoriz {
    }
    &__form {
    }
}
.form {
    &__title {
    }
    &__input {
    }
    &__butt {
    }
    &__link {
        color: rgba(0, 0, 255, 0.473);
        font-size: .7em;
        text-decoration: underline;
        align-self: end;
    }
}