@import './generalBlocks.scss';

.page{
    background: rgba(211, 211, 211, 0.462);
    &__container{
        padding: 25px;
        display: flex;
        gap: 20px;
    }
    
    &__option {
        display: flex;
        gap: 10px;
        
        margin-bottom: 50px;
    }
    &__title {
        font-size: 1.2em;
        font-weight: 700;
    }
    &__counter {
        opacity: .8;
        font-size: .9em;
        align-self: end;
    }
    &__list {
        width: 70%;;
        &>*:not(:last-child){
            margin-bottom: 10px;
        }
    }
    &__product {
        padding: 20px 10px;
        background: #fff;
        border-radius: 10px;
        display: flex;
        
        &>*{
            padding: 10px;
        }
        &>*:not(:last-child){
            margin-right: 10px;
        }
    }
    .product {
        &__check {
            flex-basis: 15px;
            width: 20px;
        }
        &__img {
            width: 20%;
            & img{
                width: 100%;
                height: 100%;
            }
        }
        &__title {
            width: 40%;
            padding: 10px 10px 0;
            color: limegreen;
            font-weight: 500;
        }
        &__counter {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__price {
            width: 130px;
            align-self: center;
        }
    }
    .counter {
        &__edit {
            display: flex;
            gap: 5px;
            &>*{
                width: 1.1em;
                height: 1.1em;
                text-align: center;
            }
            margin-bottom: 10px;
        }
        &__butt {
            border-radius: 4px;
            font-size: 1.1em;
        }
        &__butt_minus {
        }
        &__pole {
        }
        &__butt_plus {
            background: #fff;
            border: 1px gray solid;
        }
        &__delete {
            & a{
                color: blue;
                border-bottom: 2px blue solid;
            }
        }
    }
    &__order {
        flex: 1 1 auto;
        align-self: start;
        padding: 20px 25px;
        background: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .order {
        &__text {
            flex: 0 1 70%;
        }
        &__text_underline {
            text-decoration: underline;
        }
        &__counter {
            display: flex;
        }
        &__number {
            text-align: left;
        }
        &__butt {
            margin-top: 40px;
            height: 40px;
            border-radius: 5px;
            
            color: #fff;
            background: $button-color;
        }
    }

}