.page {
    background: #4c1616;
    display: flex;
    align-items: center;
    justify-content: center;
    &__autoriz {
        display: flex;
        align-items: center;
    }
    &__form {
        width: 350px;
        
        border-radius: 20px;
        margin: 0 auto;
        padding: 10px;
        
        display: flex;
        flex-direction: column;
        
        align-items: center;
        
        background: gray;
    }
}
.form {
    &>*{
        margin-bottom: 20px;
    }
    &>*:last-child{
        margin-bottom: 50px;
    }
    &__title {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
    }
    &__inputs{
        width: 90%;
    }
    &__input {
        width: 100%;
        border: 3px black solid;
        border-radius: 5px;
        padding: 5px;
        height: 30px;
        margin-bottom: 15px;
    }
    &__butt {
        width: 80%;
        padding: 10px;
        border: 3px #fff solid;
        border-radius: 5px;
        box-shadow: #fff 2px 2px;
        margin: 25px 0;
        background: #2166ac;
        font-size: 20px;
        color: #fff;
    }
}