@import url("../css/zero_style.css");
@import './mixins.scss';

$border-color:rgba(128, 128, 128, 0.54);
$button-color: rgb(81, 81, 255);

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 10px 0;
}

.header {
    &__row {
        height: 50px;
        width: 100%;
        padding: 5px;
        @include bottom-line($border-color);
    }
    .row {
        &__container {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 0;
        }
        &__item {
            display: flex;
            align-items: center;
            &:not(:last-child){
                margin-right: 10px;
            }
            gap: 2px;
        }
        &__item_main{
            flex: 1 1 auto;
        }
        &__icon {
            height: 100%;
        }
        &__title {
            color: red;
            font-weight: 700;
        }
        &__text .js-row__counter{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 500;
        }
    }
}
.page{
    min-height: 100%;
    flex: 1 1 auto;
}