@import './generalBlocks.scss';
@import './mixins.scss';

$button-color: rgb(81, 81, 255);

.page {

    &__container {
        
    }

    &__category {
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        @include bottom-line($border-color);
        margin-bottom: 50px;
    }
    &__route {
        opacity: .8;
    }
    &__option {
        display: flex;
        gap: 40px;
    }
    &__title {
        font-weight: 700;
        font-size: 1.5em;
    }
    &__counter {
        font-size: 1.5em;
        opacity: .8;
    }
    &__filter {
        align-self: end;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: .8em;
        letter-spacing: -.1px;
        font-weight: 600;
    }
    &__text {
    }
    &__icon {
        width: 15px;
    }
    //Листинг товаров
    &__list {
        &>*:not(:last-child){
            margin-bottom: 50px;
        }
    }
    &__product {
        display: flex;
        gap: 25px;
        padding: 5px 5px 25px;
        
        @include bottom-line($border-color);
    }
    .product {
        &__img {
            width: 15%;
        }
        &__info {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &__title {
            color: limegreen;
            font-size: 1.2em;
        }
        &__description {
            font-size: .8em;
            opacity: .6;
            word-spacing: 3px;
            letter-spacing: .8;
            line-height: 12px;
        }
        &__status {
            width: 15%;
            text-align: center;
            font-weight: 500;
        }
        &__status_many{
            color: limegreen;
        }
        &__status_few{
            color: orange;
        }
        &__status_null{
            color: red;
        }
        &__order {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            font-weight: 500;
        }
        &__price {
            margin-bottom: 20px;
            letter-spacing: -.1px;
        }
        &__butt {
            width: 60%;
            height: 28px;
            border-radius: 5px;
            
            color: #fff;
            background: $button-color;
        }
        &__butt_disabled{
            background: gray;
        }
    }
}
.footer {
}
