@import './generalBlocks.scss';
@import './form.scss';

.page {
    &__autoriz {   
    }
    &__form {
    }
}
.form {
    &__title {
    }
    &__inputs{
    }
    &__input {
    }
    &__fio {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        &>*{
            width: 50%;
        }
    }
    &__butt {
    }
}